.header{
text-align: center;
}
.headingTxt{

    border-bottom: 3px solid coral;

}
ul{
    list-style: none;
}
li{
    margin: 0;
    margin-right: 2rem;
    display: inline-block;
    padding: 0.5rem;
    color: coral;
    border-radius: 0.2rem;
}
li:hover{
    background-color: coral;
    color: white;
}
.main{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 1rem;
}

.product{
    display: flex;
    padding: 1.5rem;
}
.productImg{
    flex: 0.3;
    border: 4px solid coral;
}
.productImg img{
    width: 250px;
    height: 170px;
}
.productDescription{
    flex: 0.7;
    padding: 0.5rem;
}
.productNamePrice{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.price{
    color: coral;
}